<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  
{{!-- 
  <!-- Icon css link -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">




    <link rel="stylesheet" href="/stylesheets/style.css" /> --}}
</head>

<body>

  <script>

    function flipped(){
     let card = document.querySelector('.col-lg-4');
     card.classList.toggle('is-flipped');
    }
    
    

    
  </script>



  <section class="shelters_animals">
    <div class="container">
      <div class="row feature_inner">
        <div class="col-lg-4 col-sm-6" onclick="flipped()">
          <div class="feature_item" >
            <div class="f_icon">
              <img src="../images/logo rivani.jpg" alt="">
            </div>
            <h4>Rivani</h4>
            <p>ASOCIACION DE RIVAS VACIAMADRID PARA LA PROTECCION DE LOS ANIMALES</p>
            <a class="more_btn" href="http://rivanimal.org/">Infórmate</a>
       
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/logo 34.jpg" alt="">
            </div>
            <h4>Acunr</h4>
            <p>Animales con un nuevo rumbo </p>
            <a class="more_btn" href="http://www.acunr.es/">Infórmate</a>
               
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/logo.png" alt="">
            </div>
            <h4>Asociación Alba</h4>
            <p>ASOCIACIÓN PARA LA LIBERACIÓN Y EL BIENESTAR ANIMAL</p>
            <a class="more_btn" href="https://www.albaonline.org/">Infórmate</a>
           
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/cropped-logo-fapam.jpg" alt="">
            </div>
            <h4>F.A.P.A.M</h4>
            <p>FEDERACIÓN DE ASOCIACIONES PROTECTORAS Y DE DEFENSA ANIMAL</p>
            <a class="more_btn" href="http://fapam.org/">Infórmate</a>
          
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/PNG_SPAP_BANNER_CABECERA_980X269.png" alt="">
            </div>
            <h4>S.P.A.P.</h4>
  
            <p>SOCIEDAD PROTECTORA DE ANIMALES Y PLANTAS DE MADRID</p>
            <a class="more_btn" href="http://www.spap.net/">Infórmate</a>
             
          </div>
        </div>
       
        
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/elRefugio.png" alt="">
            </div>
            <h4>El Refugio</h4>
            <p>Organización española especializada en la ayuda a perros y gatos abandonados</p>    
            <a class="more_btn" href="https://elrefugio.org/default.aspx">Infórmate</a>
            {{!-- <div class="card__face card__face--back">
              <img src="../images/shelter direction.jpeg" alt="">
            </div> --}}
       
          </div>
        </div>
      </div>
    </div>
  </section>


 
</body>

</html>