<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>Sierra</title>

  <!-- Icon css link -->
  <link href="css/font-awesome.min.css" rel="stylesheet">
  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Rev slider css -->
  <link href="vendors/revolution/css/settings.css" rel="stylesheet">
  <link href="vendors/revolution/css/layers.css" rel="stylesheet">
  <link href="vendors/revolution/css/navigation.css" rel="stylesheet">

  <!-- Extra plugin css -->
  <link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">
  <link href="vendors/magnify-popup/magnific-popup.css" rel="stylesheet">


    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>



  <section class="shelters_animals">
    <div class="container">
      <div class="row feature_inner">
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/logo rivani.jpg" alt="">
            </div>
            <h4>Rivani</h4>
            <p>ASOCIACION DE RIVAS VACIAMADRID PARA LA PROTECCION DE LOS ANIMALES</p>
            <a class="more_btn" href="http://rivanimal.org/">Infórmate</a>
                  {{!-- <div class="row">

                    <div class="col-md-12 mb-4">

                     <a href="/shelter/edit/1232131221"> <button href="" type="button" class="btn btn-success btn-lg btn-rounded text-lg"><i class="far fa-save pr-2"
                          aria-hidden="true"></i>Edit</button></a>
                          
                    </div>

                  </div>
                  <div class="row">                
                    <div class="col-md-12 mb-4">

                      <button type="button"  id="danger-sm" class="btn btn-danger btn-sm btn-roundedg"><i class="far fa-save pr-2"
                          aria-hidden="true"></i>Delete</button>
                  
                    </div>
                    
                  </div> --}}
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/logo 34.jpg" alt="">
            </div>
            <h4>Acunr</h4>
            <p>Animales con un nuevo rumbo </p>
            <a class="more_btn" href="http://www.acunr.es/">Infórmate</a>
                  {{!-- <div class="row">
                  
                    <div class="col-md-12 mb-4">
                  
                      <button type="button" class="btn btn-success btn-lg btn-rounded text-lg"><i class="far fa-save pr-2"
                          aria-hidden="true"></i>Edit</button>
                  
                    </div>
                    
                  </div>
                    <div class="row">
                    
                      <div class="col-md-12 mb-4">
                    
                    
                        <button type="button" id="danger-sm" class="btn btn-danger btn-sm btn-roundedg"><i class="far fa-save pr-2"
                            aria-hidden="true"></i>Delete</button>
                    
                      </div>
                    
                    </div> --}}
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/logo.png" alt="">
            </div>
            <h4>Asociación Alba</h4>
            <p>ASOCIACIÓN PARA LA LIBERACIÓN Y EL BIENESTAR ANIMAL</p>
            <a class="more_btn" href="https://www.albaonline.org/">Infórmate</a>
                  {{!-- <div class="row">
                  
                    <div class="col-md-12 mb-4">
                  
                      <button type="button" class="btn btn-success btn-lg btn-rounded text-lg"><i class="far fa-save pr-2"
                          aria-hidden="true"></i>Edit</button>
                  
                    </div>
                    
                  </div>
                    <div class="row">
                    
                      <div class="col-md-12 mb-4">
                    
                    
                        <button type="button" id="danger-sm" class="btn btn-danger btn-sm btn-roundedg"><i class="far fa-save pr-2"
                            aria-hidden="true"></i>Delete</button>
                    
                      </div>
                    
                    </div> --}}
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/cropped-logo-fapam.jpg" alt="">
            </div>
            <h4>F.A.P.A.M</h4>
            <p>FEDERACIÓN DE ASOCIACIONES PROTECTORAS Y DE DEFENSA ANIMAL</p>
            <a class="more_btn" href="http://fapam.org/">Infórmate</a>
                  {{!-- <div class="row">
                  
                    <div class="col-md-12 mb-4">
                  
                      <button type="button" class="btn btn-success btn-lg btn-rounded text-lg"><i class="far fa-save pr-2"
                          aria-hidden="true"></i>Edit</button>
                  
                    </div>
                    
                  </div>
                    <div class="row">
                    
                      <div class="col-md-12 mb-4">
                    
                    
                        <button type="button" id="danger-sm" class="btn btn-danger btn-sm btn-roundedg"><i class="far fa-save pr-2"
                            aria-hidden="true"></i>Delete</button>
                    
                      </div>
                    
                    </div> --}}
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/PNG_SPAP_BANNER_CABECERA_980X269.png" alt="">
            </div>
            <h4>S.P.A.P.</h4>
  
            <p>SOCIEDAD PROTECTORA DE ANIMALES Y PLANTAS DE MADRID</p>
            <a class="more_btn" href="http://www.spap.net/">Infórmate</a>
                  {{!-- <div class="row">
                  
                    <div class="col-md-12 mb-4">
                  
                      <button type="button" class="btn btn-success btn-lg btn-rounded text-lg"><i class="far fa-save pr-2"
                          aria-hidden="true"></i>Edit</button>
                  
                    </div>
                    
                  </div>
                    <div class="row">
                    
                      <div class="col-md-12 mb-4">
                    
                    
                        <button type="button" id="danger-sm" class="btn btn-danger btn-sm btn-roundedg"><i class="far fa-save pr-2"
                            aria-hidden="true"></i>Delete</button>
                    
                      </div>
                    
                    </div> --}}
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <div class="feature_item">
            <div class="f_icon">
              <img src="../images/elRefugio.png" alt="">
            </div>
            <h4>El Refugio</h4>
            <p>Organización española especializada en la ayuda a perros y gatos abandonados</p>    
            <a class="more_btn" href="https://elrefugio.org/default.aspx">Infórmate</a>
            {{!-- <span class="span-t">I</span><span class="span-t">n</span><span class="span-t">f</span><span
              class="span-t">ó</span><span class="span-t">r</span><span class="span-t">m</span><span class="span-t">a</span><span
              class="span-t">t</span><span class="span-t">e</span> --}}
          {{!-- <div class="row">

            <div class="col-md-12 mb-4">

              <button type="button" class="btn btn-success btn-lg btn-rounded text-lg"><i class="far fa-save pr-2"
                  aria-hidden="true"></i>Edit</button>
          
            </div>

          </div>
            <div class="row">
            
              <div class="col-md-12 mb-4">
            
            
                <button type="button" id="danger-sm" class="btn btn-danger btn-sm btn-roundedg"><i class="far fa-save pr-2"
                    aria-hidden="true"></i>Delete</button>
            
              </div>
            
            </div> --}}
          </div>
        </div>
      </div>
    </div>
  </section>


  

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="js/jquery-3.2.1.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <!-- Rev slider js -->
  <script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
  <script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
  <script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
  <script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
  <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
  <script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
  <script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
  <!-- Extra plugin css -->
  <script src="vendors/counterup/jquery.waypoints.min.js"></script>
  <script src="vendors/counterup/jquery.counterup.min.js"></script>
  <script src="vendors/counterup/apear.js"></script>
  <script src="vendors/counterup/countto.js"></script>
  <script src="vendors/owl-carousel/owl.carousel.min.js"></script>
  <script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
  <script src="js/smoothscroll.js"></script>
  <script src="vendors/circle-bar/circle-progress.min.js"></script>
  <script src="vendors/circle-bar/plugins.js"></script>

  <script src="js/circle-active.js"></script>
  <script src="js/theme.js"></script>
</body>

</html>