{{!-- </div> --}}

{{!-- <div class="container-pets" id="c1">
        <div class="image" id="i1">
          <div>
            <img id="img-pets-b" src="" alt="">
          </div>
          <div class="city">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 225"
              style="enable-background:new 0 0 300 225;" xml:space="preserve">
              <circle id="XMLID_11_" class="st7" cx="24.5" cy="68.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="219.5" cy="28.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="272.5" cy="103.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="144.5" cy="92.5" r="1.0" />

              <circle id="XMLID_11_" class="st7" cx="4.5" cy="88.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="29.5" cy="38.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="222.5" cy="143.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="114.5" cy="42.5" r="1.0" />

            </svg>

          </div>
        </div>

        <div class="story" id="s1">
          <div class="info">
            <h3 class="h3-pets">Sitito</h3>
            <p class="p-pets"> Our rescues mean a lot to the vet staff and DunRoamin' volunteers. We do everything we
              can to find the perfect homes for
              these pets, who are being given a second chance at a happy life. The application process requires
              pre-adoption
              applications, references, and interviews with you and those listed on your application in order to ensure
              a successful
              placement.</p>


            <a href="/pet/edit/5d25a3070a21eeec52ad72b7">Edit</a> 

<div class="text-center show-onclick">
            <a  class="btn btn-info btn-rounded btn-sm" id="text-add" data-toggle="modal" data-target="#modalEdit">Edit<i
                class="fas fa-plus-square ml-1"></i></a>
          </div>

            {{!-- <p class="p-pets">Senior - Female - Large</p> --}}

</div>
</div>
</div> --}}

{{!-- <div class="container-pets" id="c2">
        <div class="image" id="i2">
          <div>
            <img id="img-pets-a" src="" alt="">
          </div>
          <div class="city">
            <?xml version="1.0" encoding="utf-8"?>


            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 225"
              style="enable-background:new 0 0 300 225;" xml:space="preserve">
              <circle id="XMLID_11_" class="st7" cx="24.5" cy="68.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="119.5" cy="28.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="172.5" cy="103.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="244.5" cy="92.5" r="1.0" />
              <circle id="XMLID_11_" class="st7" cx="214.5" cy="18.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="119.5" cy="38.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="172.5" cy="203.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="144.5" cy="12.5" r="1.0" />

            </svg>

          </div>
        </div>
        <div class="story" id="s2">
          <div class="info">
            <h3 class="h3-pets">Diego</h3>
            <p class="p-pets"> Diego is a 6 year old Poodle/Pomeranian mix who weighs about 14 lbs. He arrived in our
              care with a diagnoses of
              Intervertebral Disc Disease (IVDD) and was unable to walk. After a trip to the Atlantic Veterinary College
              on PEI where
              he had surgery on his spine and many trips to Full Circle Veterinary Alternatives for physio and rehab he
              is now able to
              walk.</p>
              <div class="text-center show-onclick">
                <a class="btn btn-info btn-rounded btn-sm" id="text-add" data-toggle="modal" data-target="#modalEdit">Edit<i
                    class="fas fa-plus-square ml-1"></i></a>
              </div>
            {{!-- <p class="p-pets">Adult - Male - Small</p> --}}

</div>
</div>
</div> --}}




{{!-- 
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  {{!-- s --}}
<!-- Rev slider js -->
<script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<!-- Extra plugin css -->
<script src="vendors/counterup/jquery.waypoints.min.js"></script>
<script src="vendors/counterup/jquery.counterup.min.js"></script>
<script src="vendors/counterup/apear.js"></script>
<script src="vendors/counterup/countto.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="vendors/circle-bar/circle-progress.min.js"></script>
<script src="vendors/circle-bar/plugins.js"></script> --}}



  {{!-- <a class="social-link social-link--linkedin" id="linkedin">
                    <svg class="social-svg" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                      <title>
                        linkedin
                      </title>
                      <g class="social-group" fill="none" fill-rule="evenodd">
                        <circle class="social-group__outline" stroke="#000" stroke-width="20" cx="300" cy="300"
                          r="262.5" />
                        <circle class="social-group__inner-circle" fill="#2D76B0" cx="300" cy="300" r="252.5" />
                        <path class="social-group__icon"
                          d="M278.9308 253.1923h43.5769v20.0539h.5923c6.0923-11.5077 20.9-23.6077 43.0692-23.6077 46.0308 0 54.577 30.2923 54.577 69.723v80.2154h-45.4385v-71.1615c0-17.0077-.2539-38.8385-23.6077-38.8385-23.6923 0-27.2462 18.5308-27.2462 37.5693v72.4307h-45.4384l-.0846-146.3846zm-74.1231 0h45.523V399.577h-45.523V253.1923zm22.8461-72.7692c14.5539 0 26.4 11.8461 26.4 26.4 0 14.5538-11.8461 26.4-26.4 26.4-14.6384 0-26.4-11.8462-26.4-26.4 0-14.5539 11.7616-26.4 26.4-26.4z"
                          fill="#000" fill-rule="nonzero" />
                      </g>
                    </svg>
                  </a> --}}