{{!-- </div> --}}

{{!-- <div class="container-pets" id="c1">
        <div class="image" id="i1">
          <div>
            <img id="img-pets-b" src="" alt="">
          </div>
          <div class="city">
            <?xml version="1.0" encoding="utf-8"?>
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 225"
              style="enable-background:new 0 0 300 225;" xml:space="preserve">
              <circle id="XMLID_11_" class="st7" cx="24.5" cy="68.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="219.5" cy="28.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="272.5" cy="103.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="144.5" cy="92.5" r="1.0" />

              <circle id="XMLID_11_" class="st7" cx="4.5" cy="88.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="29.5" cy="38.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="222.5" cy="143.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="114.5" cy="42.5" r="1.0" />

            </svg>

          </div>
        </div>

        <div class="story" id="s1">
          <div class="info">
            <h3 class="h3-pets">Sitito</h3>
            <p class="p-pets"> Our rescues mean a lot to the vet staff and DunRoamin' volunteers. We do everything we
              can to find the perfect homes for
              these pets, who are being given a second chance at a happy life. The application process requires
              pre-adoption
              applications, references, and interviews with you and those listed on your application in order to ensure
              a successful
              placement.</p>


            <a href="/pet/edit/5d25a3070a21eeec52ad72b7">Edit</a> 

<div class="text-center show-onclick">
            <a  class="btn btn-info btn-rounded btn-sm" id="text-add" data-toggle="modal" data-target="#modalEdit">Edit<i
                class="fas fa-plus-square ml-1"></i></a>
          </div>

            {{!-- <p class="p-pets">Senior - Female - Large</p> --}}

</div>
</div>
</div> --}}

{{!-- <div class="container-pets" id="c2">
        <div class="image" id="i2">
          <div>
            <img id="img-pets-a" src="" alt="">
          </div>
          <div class="city">
            <?xml version="1.0" encoding="utf-8"?>


            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 225"
              style="enable-background:new 0 0 300 225;" xml:space="preserve">
              <circle id="XMLID_11_" class="st7" cx="24.5" cy="68.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="119.5" cy="28.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="172.5" cy="103.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="244.5" cy="92.5" r="1.0" />
              <circle id="XMLID_11_" class="st7" cx="214.5" cy="18.5" r="2.5" />
              <circle id="XMLID_12_" class="st7" cx="119.5" cy="38.5" r="1.5" />
              <circle id="XMLID_13_" class="st7" cx="172.5" cy="203.5" r="2.0" />
              <circle id="XMLID_14_" class="st7" cx="144.5" cy="12.5" r="1.0" />

            </svg>

          </div>
        </div>
        <div class="story" id="s2">
          <div class="info">
            <h3 class="h3-pets">Diego</h3>
            <p class="p-pets"> Diego is a 6 year old Poodle/Pomeranian mix who weighs about 14 lbs. He arrived in our
              care with a diagnoses of
              Intervertebral Disc Disease (IVDD) and was unable to walk. After a trip to the Atlantic Veterinary College
              on PEI where
              he had surgery on his spine and many trips to Full Circle Veterinary Alternatives for physio and rehab he
              is now able to
              walk.</p>
              <div class="text-center show-onclick">
                <a class="btn btn-info btn-rounded btn-sm" id="text-add" data-toggle="modal" data-target="#modalEdit">Edit<i
                    class="fas fa-plus-square ml-1"></i></a>
              </div>
            {{!-- <p class="p-pets">Adult - Male - Small</p> --}}

</div>
</div>
</div> --}}




{{!-- 
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  {{!-- s --}}
<!-- Rev slider js -->
<script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<!-- Extra plugin css -->
<script src="vendors/counterup/jquery.waypoints.min.js"></script>
<script src="vendors/counterup/jquery.counterup.min.js"></script>
<script src="vendors/counterup/apear.js"></script>
<script src="vendors/counterup/countto.js"></script>
<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
<script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="vendors/circle-bar/circle-progress.min.js"></script>
<script src="vendors/circle-bar/plugins.js"></script> --}}