
<div class="container-index">



<div class="mainBg">
  <div class="postWelFlex">
    {{!-- <div class="postWel">
      <h1>Bienvenidos a Rescue Little Heroes</h1>
    </div> --}}
    <div class="slidecontainer">
      <h3>Distance: <span id="valuemeters"></span>meters</h3>
      <input type="range" min="1" max="15000" value="1000" class="slider" id="myRange">
    </div>
    <section id="map-info-main">
      <div id="map"></div>
    </section>
    <h3>(Click into the Pet Icon to see the details)</h3>
  </div>
</div>


<div class="charContainer">
  <canvas id="myChart" width="400" height="470"></canvas>


<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'bar',

    // The data for our dataset
    data: {
      labels: ['Gatos', 'Perros'],
      datasets: [{
        label: 'Animales encontrados este mes',
        backgroundColor: 'rgb(250, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        hoverBackgroundColor: "#33A3FF",
        data: [17, 13, 15, 10,]
      }]
    },

    // Configuration options go here
    options: {

    }
  });
</script>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA00_tJSOxaMHDNlehMVJB_hXRhADTAdMk"> </script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/javascripts/petmaps.js"></script>


</div>