{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

<div class="mainBg">


  <div class="postWelFlex">
    <div class="postWel">
      Bienvenidos a
      <b>Rescue Little Heroes</b>
    </div>

  </div>
</div>