<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/css/mdb.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img class="navLogo" src="/images/Hero.svg" width="68" height="8">
        Rescue Little Heroes
      </a>
      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">


        <a class="navbar-item" href="/pet/list">
          Lost Pets
        </a>

        <a href="/shelter/list" class="navbar-item">
          Animal Shelters
        </a>
        <a href="/auth/signup" class="navbar-item">
          Sign Up
        </a>
        <a href="/auth/login" class="navbar-item">
          Login
        </a>
      </div>
      <div class="navbar-item">
        <div class="buttons">

          <a href="/pet/add" class="button is-info-animals" id="animals-btn">
            Añadir Mascota
          </a>
        </div>
      </div>
      <div class="navbar-item">
        <div class="buttons">
          <a href="/auth/logout" class="button is-info">
            Log out
          </a>
        </div>
      </div>
    </div>
    </div>
  </nav>

  {{{body}}}


  <!-- JQuery -->

  <!-- Bootstrap tooltips -->
  {{!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script> --}}
  <!-- Bootstrap core JavaScript -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA00_tJSOxaMHDNlehMVJB_hXRhADTAdMk"> </script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/petmaps.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.5/js/mdb.min.js"></script>

  <script src="https://kit.fontawesome.com/4fe50f3556.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>