
<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 mb-4">

    
    <button type="button" class="btn btn-rounded btn-blue-grey"><i class="far fa-save pr-2"
        aria-hidden="true"></i>Add New</button>
    
  </div>


</div>
