body {
  padding: 50px;
  font-size: 14px;
  font-family: 'Amatic SC', cursive; }

a {
  color: #00B7FF; }

.title {
  font-size: 4.7rem;
  text-align: center;
  color: #3B78E8;
  padding-top: 50px; }

.control {
  margin: 2rem; }

.control.has-icon:not(.has-icon-right) .input {
  padding-left: 2.25em;
  width: 50vw; }

#instagram-bottom {
  background-color: #3CDC72;
  padding-left: 2.25em;
  color: white;
  font-weight: 1.1rem; }

#instagram-bottom:hover {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

.account-message {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 25px; }

#text-entrar {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  left: 22px; }

#text-instagram {
  font-size: 1.7rem;
  font-weight: bolder; }

.auth-link {
  padding-left: 10px; }

.fa-user:before {
  position: relative;
  left: 15px; }

.container {
  display: flex;
  justify-content: center; }

.button.is-fullwidth {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); }

#p-session {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 25px; }

.field {
  text-align: center; }

#login-span {
  position: relative;
  right: 20px; }

#login-text {
  text-transform: uppercase; }

.content {
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; }

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 100px;
  transition: all .4s ease-out; }
  .wrapper__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%; }

.social-link--linkedin {
  color: #2d76b0; }

.social-link--github {
  color: #000; }

.social-link--instagram {
  color: #9a2970; }

.social-link--slack {
  color: #b53561; }

.social-link .social-svg {
  width: 4.8rem;
  height: 4.8rem; }
  .social-link .social-svg .social-group__icon {
    fill: #191308;
    transition: all .2s; }
  .social-link .social-svg .social-group__inner-circle {
    fill: transparent;
    transition: all .2s; }
  .social-link .social-svg .social-group__outline {
    stroke: #191308;
    transform-origin: 50% 50%;
    transition: all .2s; }
  .social-link .social-svg:hover .social-group__icon, .social-link .social-svg:active .social-group__icon, .social-link .social-svg:focus .social-group__icon {
    fill: #FFFBFA;
    transition: all .45s; }
  .social-link .social-svg:hover .social-group__inner-circle, .social-link .social-svg:active .social-group__inner-circle, .social-link .social-svg:focus .social-group__inner-circle {
    fill: currentColor;
    transition: all .45s; }
    .social-link .social-svg:hover .social-group__inner-circle--instagram, .social-link .social-svg:active .social-group__inner-circle--instagram, .social-link .social-svg:focus .social-group__inner-circle--instagram {
      fill: url(#simpleInsta) !important; }
  .social-link .social-svg:hover .social-group__outline, .social-link .social-svg:active .social-group__outline, .social-link .social-svg:focus .social-group__outline {
    stroke: currentColor;
    transform: scale(1.1);
    transition: all .45s; }

.content:hover {
  -moz-animation: rotatecircle 4s infinite linear;
  -webkit-animation: rotatecircle 4s linear; }

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #bdd73c; }
  50% {
    -moz-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0; } }

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #bdd73c; }
  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1; }
  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0; } }

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }

@-moz-keyframes rotatecircle {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(-360deg); } }

@-webkit-keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(-360deg); } }

.navbar.is-dark .navbar-start > .navbar-item {
  color: #f5f5f5;
  font-size: 1.4rem; }

.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  font-size: 1.4rem; }

.navbar.is-dark .navbar-brand > .navbar-item {
  color: #f5f5f5;
  font-size: 1.4rem; }

.navbar-item img {
  max-height: 4.75rem; }

.feature_item {
  text-align: center;
  padding: 40px 0px 60px 0px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s; }

.feature_item .f_icon {
  min-height: 91px;
  position: relative; }

.feature_item .f_icon img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-height: 5.5rem; }

.feature_item h4 {
  color: #0b1033;
  font-weight: bold;
  font-size: 2.3rem;
  padding: 45px 0px 20px 0px; }

.feature_item p {
  font-size: 1.2rem;
  line-height: 28px;
  color: #7c8d93;
  font-weight: 500;
  max-width: 290px;
  margin: auto;
  padding-bottom: 60px; }

.feature_item a {
  font-size: 1.3rem; }

.feature_item .more_btn {
  opacity: 0; }

.feature_item:hover {
  -webkit-box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11); }

.feature_item:hover .more_btn {
  opacity: 1;
  text-decoration: none; }

.shelters_animals {
  border-bottom: 1px solid #bbbec1;
  padding-top: 100px;
  overflow: hidden; }

a {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; }
  a .span-t {
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms;
    padding: 0 0.1em; }
    a .span-t:nth-child(0n) {
      transition-delay: 0ms; }
    a .span-t:nth-child(0n):after {
      transition-delay: 0ms; }
    a .span-t:nth-child(1n) {
      transition-delay: 83.33333ms; }
    a .span-t:nth-child(1n):after {
      transition-delay: 83.33333ms; }
    a .span-t:nth-child(2n) {
      transition-delay: 166.66667ms; }
    a .span-t:nth-child(2n):after {
      transition-delay: 166.66667ms; }
    a .span-t:nth-child(3n) {
      transition-delay: 250ms; }
    a .span-t:nth-child(3n):after {
      transition-delay: 250ms; }
    a .span-t:after {
      content: '';
      position: absolute;
      top: 100%;
      left: -1%;
      width: 102%;
      height: 2em;
      background: blue;
      transform-origin: top center;
      transform: scaley(0.1);
      transition: transform cubic-bezier(0.77, 0, 0.175, 1) 250ms; }
  a:hover span {
    transform: translateY(-1em); }
    a:hover span:after {
      transform: scaleY(1); }
  a:active .span-t {
    transform: translateY(0);
    transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
    transition-delay: 0 !important; }
    a:active .span-t:after {
      transform: scaleY(0.5);
      transition: transform cubic-bezier(0.77, 0, 0.175, 1) 125ms;
      transition-delay: 0 !important; }

.slack-login {
  max-width: 85%;
  margin-top: 4%; }

.slack-login img {
  max-width: 100%;
  margin-top: 14%; }

/*# sourceMappingURL=style.css.map */