body {
  padding: 50px;
  font-size: 14px ;
  font-family: 'Amatic SC',
  cursive;
}

a {
  color: #00B7FF;
}

.title{
  font-size: 4.7rem;
  text-align: center;
  color: #3B78E8;
  padding-top: 50px;
  

}

.control {
margin: 2rem; 
}

.control.has-icon:not(.has-icon-right) .input {
  padding-left: 2.25em;
  width: 50vw;

}


#instagram-bottom {
  background-color: #3CDC72;

  padding-left: 2.25em;

      color: white;
      font-weight: 1.1rem;
  
}

#instagram-bottom:hover{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}


.account-message {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 25px;
}

#text-entrar {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  left: 22px;
  
}

#text-instagram{
  font-size: 1.7rem;
  font-weight: bolder;
}

.auth-link{
  padding-left: 10px;
}


.fa-user:before {
  
  position: relative;
  left: 15px;


}

.container {
  display: flex;
  justify-content: center;
}



.button.is-fullwidth {
 
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

#p-session {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 25px;
  }

.field{
  text-align: center;
}

#login-span{
 position: relative;
 right: 20px;
}

#login-text{
  text-transform: uppercase;
}
.content {
  height: 300px;

   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}


$color-primary: #81c2de;
$color-primary-light: #b4f5ff;
$color-primary-dark: #4f92ac;

$color-white: #FFFBFA;

$color-black: #191308;

.wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 700px;
  height: 100px;
  // background-image: linear-gradient(to bottom right, rgba($color-primary, 1), rgba($color-primary-dark, 1));
  transition: all .4s ease-out;

  &__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
  }
}

.social-link {

  &--linkedin {
    color: #2d76b0;
  }

  &--github {
    color: #000;
  }

  &--instagram {
    color: #9a2970;
  }

  &--slack {
    color: #b53561;
  }

  & .social-svg {
    width: 4.8rem;
    height: 4.8rem;

    & .social-group {

      &__icon {
        fill: $color-black;
        transition: all .2s;
      }

      &__inner-circle {
        fill: transparent;
        transition: all .2s;
      }

      &__outline {
        stroke: $color-black;
        transform-origin: 50% 50%;
        transition: all .2s;
      }

    }

    &:hover,
    &:active,
    &:focus {

      & .social-group {

        &__icon {
          fill: $color-white;
          transition: all .45s;
        }

        &__inner-circle {
          fill: currentColor;
          transition: all .45s;

          &--instagram {
            fill: url(#simpleInsta) !important;
          }

        }

        &__outline {
          stroke: currentColor;
          transform: scale(1.1);
          transition: all .45s;
        }

      }

    }

  }

}

.content:hover {
  -moz-animation: rotatecircle 4s infinite linear;
  -webkit-animation: rotatecircle 4s linear;
  // filter: invert(2)

}

@-moz-keyframes spinPulse {
  0% {
    -moz-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #bdd73c;
  }

  50% {
    -moz-transform: rotate(145deg);
    opacity: 1;
  }

  100% {
    -moz-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-moz-keyframes spinoffPulse {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spinPulse {
  0% {
    -webkit-transform: rotate(160deg);
    opacity: 0;
    box-shadow: 0 0 1px #bdd73c;
  }

  50% {
    -webkit-transform: rotate(145deg);
    opacity: 1;
  }

  100% {
    -webkit-transform: rotate(-320deg);
    opacity: 0;
  }
}

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotatecircle {
  0% {
    -moz-transform: rotate(0deg);
  }

  100% {
    -moz-transform: rotate(-360deg);
  }
}

@-webkit-keyframes rotatecircle {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(-360deg);
  }
}

.navbar.is-dark .navbar-start>.navbar-item {
  color: #f5f5f5;
  font-size: 1.4rem;
}

.button.is-info {
  background-color: #209cee;
  border-color: transparent;
  color: #fff;
  font-size: 1.4rem;
}

.navbar.is-dark .navbar-brand>.navbar-item {
  color: #f5f5f5;
  font-size: 1.4rem;
}

.navbar-item img {
  max-height: 4.75rem;
 
}

.feature_item {
  text-align: center;
  padding: 40px 0px 60px 0px;
  -webkit-transition: all 400ms linear 0s;
  -o-transition: all 400ms linear 0s;
  transition: all 400ms linear 0s;
}

.feature_item .f_icon {
  min-height: 91px;
  position: relative;
}

.feature_item .f_icon img {
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  max-height: 5.5rem;
}

.feature_item h4 {
  color: #0b1033;
  font-weight: bold;
  font-size: 2.3rem;
  padding: 45px 0px 20px 0px;
}

.feature_item p {
  font-size: 1.2rem;
  line-height: 28px;
  color: #7c8d93;
  font-weight: 500;
  max-width: 290px;
  margin: auto;
  padding-bottom: 60px;
}
.feature_item a {
  font-size: 1.3rem;
 
}

.feature_item .more_btn {
  opacity: 0;
}

.feature_item:hover {
  -webkit-box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.11);
}

.feature_item:hover .more_btn {
  opacity: 1;
  text-decoration: none;
}

.shelters_animals {
  border-bottom: 1px solid #bbbec1;
  padding-top: 100px;
  overflow: hidden;
}

//CONFIG
$time: 250ms;
$number: 3;
$ease: cubic-bezier(0.770, 0.000, 0.175, 1.000);
$move: 2em;
$color: blue;
$font: 'Roboto Condensed',
sans-serif;

//STYLES

a {
  cursor: pointer;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  .span-t {
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    transition: transform $ease $time;
    padding: 0 0.1em;

    @for $i from 0 through $number {
      &:nth-child(#{$i}n) {
        transition-delay: $time*$i/$number;
      }

      &:nth-child(#{$i}n):after {
        transition-delay: $time*$i/$number;
      }
    }

    &:after {
      content: '';
      position: absolute;
      top: 100%;
      left: -1%;
      width: 102%;
      height: $move;
      background: $color;
      transform-origin: top center;
      transform: scaley(0.1);
      transition: transform $ease $time;
    }
  }

  &:hover {
    span {
      transform: translateY(-$move/2);

      &:after {
        transform: scaleY(1);
      }
    }
  }

  &:active {
    .span-t {
      transform: translateY(0);
      transition: transform $ease $time/2;
      transition-delay: 0 !important;

      &:after {
        transform: scaleY(0.5);
        transition: transform $ease $time/2;
        transition-delay: 0 !important;
      }
    }
  }

}

.slack-login {
  max-width: 85%;
  margin-top: 4%;
}

.slack-login img {
  max-width: 100%;
  margin-top: 14%;
}